#Ignore main .RData 
.RData
#Ignore all R transcript files
*.Rt
#Ignore .Rhistory
.Rhistory
#Ignore emacs and vim temporary files
*.swp
*.swo
.#*
*#
#Ignore html files, since we will use markdown only
*.html
#Ignore Apple files
.DS_Store
#Ignore site since it is not necessary 
_site/*
.Rproj.user
*.Rproj
